<div class="container">

  <%= render "user/dreams/latest_dream",latestdream: @latestdream %>

  <div class="row my-3">
    <div class="col-lg-4 col-md-12 justify-content-center mb-3">
      <%= render "search_form",model: Dream %>
      <%= render "user/dreams/latest_comment",latestcomment: @latestcomment %>
    </div>

    <div class="col-lg-8 col-md-12">
      <div class="card border-0">
        <div class="card-header border-0" style="background-color:#67a7cc">
          <h4 class="text-white"><i class="fas fa-list-alt" style="color:#ffffff"></i> Dreams</h4>
        </div>
        <div class="card-body text-right">
          <span>"<%= @word %>"の検索結果(<%= @searched_dreams.count %>)</span>
          
          <%= render "user/dreams/index",dream: @searched_dreams,list: @list %>

        </div>
      </div>
    </div>
  </div>
</div>
