<div class="row justify-content-center">
  <div class="col-lg-12 col-md-12">
    <div class="card border-0" style="background-color:#ffffff">
      <div class="card-header border-0"></div>
      <div class="card-body">
        <div class="card-title">
          <p class="border-bottom">
            <span class="h4"><i class="fas fa-star" style="color:#ffdc00"></i> New Dreams ! </span>
            <span class="text-muted">新着のユメ</span>
          </p>
        </div>

        <div class="card-deck">
          <% latest_dream.each do |dream| %>
          <div class="col-lg-4">
            <%= link_to dream_path(dream.dream.id) do %>
            <div class="card text-center" style="height:7rem;">
              <div class="card-body">
                <div class="card-title text-dark text-truncate">
                  <%= dream.dream.content %>
                </div>
                <div class="card-text">
                  <div class="row text-center">
                    <div class="col aline-items-center">
                      <i class="fas fa-user text-dark"></i><span class="ml-1 text-dark"><%= dream.dream.users.count %></span>
                      <i class="fas fa-comments text-dark"></i><span class="ml-1 text-dark"><%= dream.dream.comments.count %></span>
                      <span class="text-muted">(<%= time_ago_in_words(dream.updated_at) %>前)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
