<div class="container">
  <div class="row justify-content-center">

    <div class="col-lg-12 col-md-12">
      <div class="card border-0" style="background-color:#ffffff">
        <div class="card-header border-0"></div>
        <div class="card-body">
          <div class="card-title">
            <p class="border-bottom">
              <span class="h4"><i class="fas fa-star" style="color:#ffdc00"></i> New Dreams ! </span>
              <span class="text-muted">新着のユメ</span></p>
          </div>

          <div class="card-deck">
            <% @latestdream.each do |dream| %>
            <div class="col-lg-4">
              <%= link_to dream_path(dream.dream.id) do %>
              <div class="card text-center" style="height:7rem;">
                <div class="card-body">
                  <div class="card-title text-dark text-truncate">
                    <%= dream.dream.content %>
                  </div>
                  <div class="card-text">
                    <div class="row text-center">
                      <div class="col aline-items-center">
                        <i class="fas fa-user text-dark"></i><span class="ml-1 text-dark"><%= dream.dream.users.count %></span>
                        <i class="fas fa-comments text-dark"></i><span class="ml-1 text-dark"><%= dream.dream.comments.count %></span>
                        <span class="text-muted">(<%= time_ago_in_words(dream.updated_at) %>前)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">

    <div class="col-lg-4 col-md-12 justify-content-center mb-3">
      <div class="form-row">
        <div class="col">
          <%= form_with url:search_path,method: :get do |f| %>
          <%= f.text_field :word,placeholder:"キーワードを入力",class:"form-control"%>
        </div>
         <div class="col-auto">
          <%= f.hidden_field :range,:value => Dream %>
          <%= f.hidden_field :search,:value => "pertial_match" %>
          <%= button_tag type:"submit",class:"btn text-white",style:"background-color:#67a7cc" do %>
          <i class="fas fa-search"></i>検索
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="card border-0 mt-3">
        <div class="card-body">
          <div class="card-title border-bottom">
          <h6>最近コメントが届いたユメ</h6>
          </div>
          <% @latestcomment.each do |comment| %>
          <%= link_to dream_path(comment.dream.id) do %>
          <div class="text-truncate text-dark"><i class="fas fa-comment-dots"></i><%= comment.dream.content %></div>
          <% end %>
          <span class="text-muted">(<%= time_ago_in_words(comment.created_at) %>前)</span><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-12">
      <div class="card border-0">
        <div class="card-header border-0" style="background-color:#67a7cc">
          <h4 class="text-white"><i class="fas fa-list-alt" style="color:#ffffff"></i> Dreams</h4>
        </div>
        <div class="card-body text-right">
          <%= link_to "新しい順",dreams_path(latest: "true"),class:"btn btn-sm btn-outline-secondary" %>
          <%= link_to "古い順",dreams_path(old: "true"),class:"btn btn-sm btn-outline-secondary" %>

          <ul class="list-group list-group-flush text-center">
            <% @dreams.each do |dream| %>
            <% if dream.users.count > 0 %>
            <li class="list-group-item d-flex justify-content-between">
              <%= link_to dream_path(dream.id) do %>
              <span class="text-dark"><%= dream.content %></span>
              <% end %>
              <div class="row col-auto">
                <span><i class="fas fa-user mr-1"></i><%= dream.users.count %></span>
                <span class="mr-1"><i class="fas fa-comments mx-1"></i><%= dream.comments.count %></span>
                <% if user_signed_in? %>
                  <%= form_with model:@list,url:lists_path,method: :post do |f| %>
                  <%= f.hidden_field:dream_id,:value => dream.id %>
                  <%= f.hidden_field:user_id,:value => current_user.id %>
                  <%= button_tag type: "submit",class:"btn btn-sm text-white",style:"background-color:#67a7cc" do %>
                    <span><i class="fas fa-plus"></i></span>
                  <% end %>
                  <% end %>
                <% end %>
              </div>
              </li>
            <% end %>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
     </div>
  </div>
