<div class="container">

  <%= render "latest_dream",latest_dream: @latest_dream %>

  <div class="row my-3">
    <div class="col-lg-4 col-md-12 justify-content-center mb-3">
      <%= render "user/searches/search_form",model: Dream %>
      <%= render "latest_comment",latest_comment: @latest_comment %>
    </div>

    <div class="col-lg-8 col-md-12">
      <div class="card border-0">
        <div class="card-header border-0" style="background-color:#67a7cc">
          <h4 class="text-white"><i class="fas fa-list-alt" style="color:#ffffff"></i> Dreams</h4>
        </div>
        <div class="card-body text-right">
          <%= link_to "新しい順",dreams_path(latest: "true"),class:"btn btn-sm btn-outline-secondary" %>
          <%= link_to "古い順",dreams_path(old: "true"),class:"btn btn-sm btn-outline-secondary" %>
          <%= link_to "ユーザー数順",dreams_path(count_user: "true"),class:"btn btn-sm btn-outline-secondary" %>
          <%= link_to "コメント数順",dreams_path(count_comment: "true"),class:"btn btn-sm btn-outline-secondary" %>

          <%= render "user/dreams/index",dream: @dreams,list: @newlist %>

        </div>
      </div>
    </div>
  </div>
</div>
