<div class="container my-3">
  <div class="row justify-content-center p-4">

    <div class="card" style="background-color:#ffffff">
      <div class="card-body text-center">

        <div class="card-title">
        <h3><i class="fas fa-star"></i> New !</h3>
        </div>
        <div class="card-subtitle">
        <p>あたらしいユメ</p>
        </div>

        <div class="card-deck">
      <% @latestdream.each do |dream| %>
        <div class="card" style="width:16rem;">
          <div class="card-body">
            <div class="card-title">
              <%= dream.content.truncate(15) %>
            </div>
            <div class="card-subtitle">
              <i class="fas fa-user"></i><span class="ml-1"><%= dream.users.count %></span>
              <i class="fas fa-comments"></i><span class="ml-1"><%= dream.comments.count %></span>
            </div>
            </div>
            <div class="card-footer bg-transparent border-0">
            <span><%= link_to "見に行く>>",dream_path(dream.id),class:"btn btn-sm text-white",style:"background-color:#40e0d0" %></span>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-4 justify-content-center">
      <div class="form-inline">
        <%= form_with url:search_path,method: :get do |f| %>
        <%= f.text_field :word,placeholder:"キーワードを入力",class:"form-control"%>
        <%= f.hidden_field :range,:value => Dream %>
        <%= f.hidden_field :search,:value => "pertial_match" %>
        <%= button_tag type: "submit",class:"btn text-white",style:"background-color:#ff7f7f" do %>
        <i class="fas fa-search"></i>検索
        <% end %>
        <% end %>
      </div>
      <div class="card border-0 mt-3">
        <div class="card-body">
          <div class="card-title border-bottom">
          <h5>最近コメントが届いたユメ</h5>
          </div>
          <% @latestcomment.each do |comment| %>
          <i class="fas fa-comment-dots"></i>
          <%= link_to dream_path(comment.dream.id) do %>
          <%= comment.dream.content %><br>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="card">
         <div class="card-body">
           <%= link_to "新しい順",dreams_path(latest: "true") %>
        <%= link_to "古い順",dreams_path(old: "true") %>

            <% @dreams.each do |dream| %>
            <div class="card">
              <div class="card-body">
                <%= link_to dream_path(dream.id) do %>
                <i class="fas fa-star"></i><%= dream.content %>
                <% end %>
              </div>
            <div class="card-footer" style="background-color:#afeeee">
              <div class="row justify-content-around">
                <i class="fas fa-user"></i><span class="ml-1"><%= dream.users.count %></span>
                <i class="fas fa-comments"></i><span class="ml-1"><%= dream.comments.count %></span>
                <% if user_signed_in? %>
                  <%= form_with model:@list,url:lists_path,method: :post do |f| %>
                  <%= f.hidden_field:dream_id,:value => dream.id %>
                  <%= f.hidden_field:user_id,:value => current_user.id %>
                    <%= button_tag type: "submit",class:"btn" do %>
                    <i class="fas fa-plus"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>


        <% end %>
        </div>
      </div>
      </div>
      </div>
      </div>

      </div>

