<div class="container">
  <div class="row my-3">

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header" style="background-color:#67a7cc">
          <span class="text-white h4"><i class="fas fa-star" style="color:#ffffff"></i> Dream</span>
        </div>
        <div class="card-body">
          <div class="card-title">
            <p>ユーザーの数 : <i class="fas fa-user mr-1"></i><%= @dream.users.count %></p>
            <p>コメントの数 : <i class="fas fa-comments mr-1"></i><%= @dream.comments.count %></p>
          </div>

            <% if user_signed_in? && @dream.list_in?(current_user) %>
              <div class="card-text border-top">
                <div class="mt-3">
                  <span class="h4">Memo</span><span class="text-muted"> ※公開されません</span>
                  <%= form_with model:@list,url:list_path(@list.id),method: :patch do |f| %>
                  <%= f.text_area:memo,class:"form-control",style:"height:5rem;" %>
                  <%= f.submit "メモを保存",class:"btn btn-sm text-white mt-2",style:"background-color:#67a7cc" %>
                  <% end %>
                </div>
                <div class="border-top mt-3 text-right">
                  <%= link_to list_path(@list),method: :delete do %>
                    <span class="text-muted">リストから外す</span> <i class="fas fa-times" style="color:#67a7cc"></i>
                  <% end %>
                </div>
              </div>
            <% else %>
              <%= form_with model:@newlist,url:lists_path,method: :post do |f| %>
                <%= f.hidden_field:dream_id,:value => @dream.id %>
                <%= f.hidden_field:user_id,:value => current_user.id %>
                  <%= button_tag type: "submit",class:"btn btn-sm text-white mb-3",style:"background-color:#67a7cc" do %>
                   <i class="fas fa-plus"></i> リストに入れる
                  <% end %>
                <% end %>
            <% end %>
        </div>
      </div>

      <div class="card border-0 mb-3">
        <div class="card-body">
          <div class="card-title border-bottom">
            <h6>このユメを持っているユーザー</h6>
          </div>
          <% @dream.users.first(5).each do |user| %>
            <%= image_tag user.get_profile_image(50,50),class:"mt-3 rounded-circle"; %>
            <%= link_to user_path(user.id) do %>
            <%= user.name %><br>
            <% end %>
          <% end %>
          <%= link_to "もっと見る",dreams_path %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">

          <div class="card-title border-bottom pl-3">
            <h5><i class="fas fa-list-alt" style="color:#ffdc00"></i> <%= @dream.content %></h5>
          </div>

          <p><i class="fas fa-pen"></i> コメントを残す</p>
          <div class="col">
            <%= form_with(model:[@dream,@comment], method: :post) do |f| %>
            <%= f.text_area :comment,class:"form-control" %>
          </div>
          <%= f.hidden_field :dream_id, value: @dream.id %>
          <div class="col mt-2">
            <%= f.submit "コメントする",class:"form-control btn text-white",style:"background-color:#67a7cc" %>
          </div>
          <% end %>

          <p><i class="fas fa-comments mt-4"></i> みんなのコメント</p>
          <% @comments.each do |comment| %>
          <div class="card mt-2">
              <div class="card-title mx-3">
                <%= image_tag comment.user.get_profile_image(30,30),class:"mt-3 rounded-circle"; %>
                <span><%= comment.user.name %></span>
              </div>
              <div class="card-text border-bottom mx-3">
                <%= comment.comment %>
              </div>
              <div class="card-text">
                <div class="row justify-content-between align-items-center">
                  <div class="mx-5">
                  <% if user_signed_in? && comment.favorited?(current_user) %>
                    <%= link_to dream_comment_favorites_path(@dream,comment.id),method: :delete do %>
                    <i class="fas fa-heart" style="color:#ff7f7f"></i>
                    <% end %>
                  <% else %>
                    <%= link_to dream_comment_favorites_path(@dream,comment.id),method: :post do %>
                    <i class="far fa-heart" style="color:#ff7f7f"></i>
                    <% end %>
                  <% end %>
                  <span><%= comment.favorites.count %></span>
                  </div>
                  <div class="mx-5">
                  <% if user_signed_in? && comment.user.id == current_user.id %>
                    <%= link_to dream_comment_path(@dream,comment.id),method: :delete do %>
                      <i class="fas fa-times" style="color:#67a7cc"></i>
                    <% end %>
                  <% end %>
                </div>
                </div>

              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
