<h1><%= @dream.content %></h1>

<p>*post comment !</p>
<%= form_with(model:[@dream,@comment], method: :post) do |f| %>
<%= f.text_area :comment %>
<%= f.hidden_field :dream_id, value: @dream.id %>
<%= f.submit %>
<% end %>

<p>* comments</p>
<% @comments.each do |comment| %>
<%= comment.id %>
<%= comment.comment %>
by <%= comment.user.name %>
<% if comment.favorited?(current_user) %>
  <%= link_to dream_comment_favorites_path(@dream,comment.id),method: :delete do %>
  <span style="color:red;">♡</span>
  <% end %>
<% else %>
  <%= link_to dream_comment_favorites_path(@dream,comment.id),method: :post do %>
  <span>♡</span>
  <% end %>
<% end %><br>
<% if comment.user.id == current_user.id %>
<!--%= link_to "edit",dream_path(@dream,comment.id) %>-->
<!--comment.idを渡してコメントフォームに編集するコメントを表示-->
<%= link_to "edit",dream_path(@dream,comment.id) %>
<%= link_to "delete",dream_comment_path(@dream,comment.id),method: :delete %><br>
<% end %>
<% end %>

<h3>Dreamers</h3>

<% @dream.users.each do |user| %>
<%= link_to user_path(user.id) do %>
<%= user.name %>
<% end %>
<% end %>