<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-0" style="background-color:#ffffff">
        <div class="card-body">
          <div class="card-title border-bottom">
            <h4><i class="fas fa-portrait mr-1" style="color:#ffdc00"></i>Profile Edit</h4>
            </div>
          <div class="row justify-content-center align-items-center text-center">
            <div class="col-md-5 my-2">
              <%= image_tag @user.get_profile_image(150,150),class:"mt-3 rounded-circle"; %>
              <p>現在のプロフィール画像</p>
              <%= form_with model:@user,url:user_path(@user),method: :patch do |f| %>
              <%= f.file_field :profile_image,class:"hidden",accept: "image/*" %>
              <% end %>
            </div>
            <div class="col-md-7">
              <%= form_with model:@user,url:user_path(@user),method: :patch do |f| %>
              <div class="col text-left">
              <%= f.label:ユーザーネーム %>
              </div>
              <div class="col-auto">
              <%= f.text_field:name,class:"form-control" %>
              </div>
              <div class="col text-left mt-3">
              <%= f.label:プロフィール %>
              </div>
              <div class="col-auto">
              <%= f.text_area:introduction,class:"form-control" %>
              </div>
              <div class="col-auto mt-2">
              <%= f.submit "保存",class:"form-control text-white",style:"background-color:#67a7cc" %>
              </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row my-3 text-center">
    <div class="col-md-12">
      <div class="card border-0" style="background-color:#ffffff">
        <div class="card-body">

          <div class="card-title border-bottom">
            <p><i class="fas fa-envelope"></i> メールアドレス : <%= @user.email %></p>
          </div>
          <div class="card-text">
            <p><%= link_to "ログアウト",destroy_user_session_path,method: :delete,class:"btn btn-outline-secondary mt-2" %></p>
            <p><%= link_to "アカウント削除", withdrawal_path,method: :patch,class:"btn btn-danger",data:{confilm:"本当に退会しますか？"} %></p>
            <p class="text-secondary"><i class="fas fa-exclamation-triangle"></i> アカウントを削除すると、再度新規登録をする必要があります。</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
