<div class="container">
  <div class="row justify-content-center my-3">

    <%= render "profile",user: @user %>

    <div class="col-lg-8 col-md-12">
      
      <%= render "dream_form",user: @user,newdream: @newdream %>

      <div class="card">
        <div class="card-body">
          <div class="card-title border-bottom pl-3">
            <h4><i class="fas fa-list-alt" style="color:#ffdc00"></i> LIST</h4>
          </div>

          <ul class="list-group list-group-flush">
            <% @lists.each do |list| %>
            <li class="list-group-item d-flex justify-content-between">
              <span class="text-truncate">
              <%= link_to dream_path(list.dream.id) do %>
                <span class="text-dark"><%= list.dream.content %></span>
              <% end %>
              </span>
              <% if user_signed_in? && @user.id == current_user.id %>
                <%= link_to list_path(list),method: :delete do %>
                  <i class="fas fa-times" style="color:#67a7cc"></i>
                <% end %>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
