<% if @user.id == current_user%>
<h1>My Dream List</h1>

<%= form_with model:@newdream,url:dreams_path,method: :post do |f| %>
<%= f.text_field:content %>
<%= f.submit %>
<% end %>
<% @lists.each do |list| %>
<%= link_to dream_path(@dream.id) do %>
  <%= list.dream.content %>
<% end %>
<%= link_to "list out",list_path(list),method: :delete %><br>
<% end %>
<%= link_to "dream一覧",dreams_path %>