 <div class="container">
   <div class="row justify-content-center my-3">

    <div class="col-4">

      <div class="card mb-3">
        <div class="card-header" style="background-color:#a1c7ec">
          <span class="text-white h4">Profile.</span>
        </div>
        <div class="card-body">
            <%= image_tag @user.get_profile_image(100,100),class:"mt-3 rounded-circle"; %>
            <p><%= @user.name %></p>
            <p><%= @user.introduction %></p>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
      <% if @user.id == current_user.id %>
      <p><i class="fas fa-heart" style="color:#ff7f7f"></i><%= link_to "comments",favorites_user_path(@user),class:"text-dark" %></p>
      <p><i class="fas fa-cog"></i><%= link_to "edit profile",edit_user_path(@user.id),class:"text-secondary" %></p>
      <% end %>
      <p><i class="fas fa-star"></i>ユメ:<%= @user.lists.count %></p>
      <p><i class="fas fa-comment-dots"></i>コメント数:<%= @user.comments.count %></p>
    </div>
    </div>

    </div>

    <div class="col-8">
      <div class="form-row mb-3">
        <div class="col">
          <% if @user.id == current_user.id %>
                <%= form_with model:@newdream,url:dreams_path,method: :post do |f|%>
                  <%= f.text_field:content,class:"form-control" %>
                  </div>
                  <div class="col-auto">
                  <%= f.submit class:"form-control text-white btn",style:"background-color:#a1c7ec" %>
                <% end %>
              <% end %>
              </div>
            </div>
      <div class="card">
        <div class="card-body">
          <div class="card-title border-bottom pl-3">
                <h3>LIST.</h3>
              </div>
        <ul class="list-group list-group-flush text-center">
        <% @lists.each do |list| %>
          <li class="list-group-item d-flex justify-content-between">
          <%= link_to dream_path(list.dream.id) do %>
            <span class="text-secondary">
              <%= list.dream.content %>
            </span>
          <% end %>
          <% if @user.id == current_user.id %>
            <span>
              <%= link_to list_path(list),method: :delete do %>
              <span style="color:#ff7f7f"><i class="fas fa-times"></i></span>
              <% end %>
            </span>
          <% end %>
          </li>
        <% end %>
        </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>