<div class="row justify-content-center">
    <!--<img src="../../assets/images/YOUMELIST.png">-->
    <%= image_tag "YOUMELIST.png",size:"300x120",class:"my-2" %>
    </div>

    <div class="row justify-content-center">
      <p class="text-center">
        「ユメ」を共有しよう
      </p>
      <% if user_signed_in? %>
      <%= link_to "マイページへ",user_path(current_user.id) %>
      <% else %>
    </div>

  <div class="row justify-content-center">
      <%= form_with model:@user,url:user_session_path do |f| %>
      <div class="field row">
        <div class="col-3">
          <%= f.label :email %>
        </div>
        <div class="col-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field row">
        <div class="col-3">
          <%= f.label :password %>
        </div>
        <div class="col-3">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
        <div class="field row">
          <%= f.submit "Log in" %>
        </div>
    </div>
    <% end %>
    <% end %>
    </div>

  <div class="row justify-content-around mt-3">
    <%= link_to dreams_path,class:"btn rounded-circle p-0",style:"width:3rem;height:3rem; background-color:#afeeee" do %>
    <i class="fas fa-star h3 mt-2" style="color:white"></i>
    <% end %>
    <%= link_to new_user_registration_path,class:"btn rounded-circle p-0",style:"width:3rem;height:3rem; background-color:#afeeee" do %>
    <% end %>
    <%= link_to dreams_path,class:"btn rounded-circle p-0",style:"width:3rem;height:3rem; background-color:#afeeee" do %>
    <i class="fas fa-star h3 mt-2" style="color:white"></i>
    <% end %>
    <%= link_to dreams_path,class:"btn rounded-circle p-0",style:"width:3rem;height:3rem; background-color:#afeeee" do %>
    <i class="fas fa-star h3 mt-2" style="color:white"></i>
    <% end %>
  </div>

    <div class="row justify-content-center mt-3">
      <h3 style="background-color:#ff7f7f"><span class="text-white">What's YOUMELIST ?</span></h3>
    </div>

    <div class="row justify-content-center" style="background-color:#ffffff">
      <div class="col-5">
        <p class="text-center text-dark">
          マイページで「ユメ」を入力する事で、あなたのリストに追加されます。<br>
          この時表示されている数字は、同じ「ユメ」をもつ仲間の数です。
        </p>
      </div>
      <div class="col-5">
        <%= image_tag "YOUME1.jpg",size:"300x200" %>
      </div>
    </div>

    <div class="row justify-content-center" style="background-color:#ffffff">
      <div class="col-5">
        <%= image_tag "YOUME1.jpg",size:"300x200" %>
      </div>
      <div class="col-5">
        <p class="text-center text-dark">
          「ユメ」では、進捗を報告したり、情報を共有したり。<br>
          自由にコメントを残す事ができます。
        </p>
      </div>
    </div>

    <div class="row justify-content-center" style="background-color:#ffffff">
      <div class="col-5">
        <p class="text-center text-dark">
          このマークのついたコメントは、その「ユメ」を持っている人のコメントです。<br>
          コメントにはいいねをつける事ができます<i class="far fa-heart"></i>
        </p>
      </div>
      <div class="col-5">
        <%= image_tag "YOUME1.jpg",size:"300x200" %>
      </div>
    </div>

     <div class="row justify-content-center" style="background-color:#ffffff">
      <div class="col-5">
        <%= image_tag "YOUME1.jpg",size:"300x200" %>
      </div>
      <div class="col-5">
        <p class="text-center text-dark">
          <i class="far fa-user"></i>は仲間の数、
          <i class="far fa-comment-dots"></i>はコメントの数を表わしています。<br>
          仲間が0人になったユメは自動的に無くなります。
        </p>
      </div>
    </div>
