<div class="container mb-3">

  <div class="row justify-content-center text-center">
    <div class="col-md-12 m-4"><%= image_tag"logo-b2.PNG",size:"300x75" %></div>
    <div class="col-md-12">
      <p>YOUMELISTは、あなたのやりたいこと 「ユメ」 を<br>みんなと共有できるサービスです。</p>
    </div>

    <div class="col-md-7">
      <% if user_signed_in? %>
      <%= link_to "マイページへ",user_path(current_user.id),class:"btn text-white",style:"background-color:#67a7cc" %>
      <% else %>
    </div>
      <div class="col-md-12">
        <p>リスト作成や、コメントを残すにはログインが必要です。</p>
        <%= link_to "ユメを見に行く",dreams_path,class:"btn btn-outline-warning mr-3" %>
        <%= link_to "新規登録する",new_user_registration_path,class:"btn btn-outline-warning" %>
      </div>
      <div class="col-md-5">
        <%= form_with model:@user,url:user_session_path do |f| %>
        <div class="col text-left my-3">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>
        <div class="col text-left">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
        </div>
        <div class="col">
          <%= f.submit "ログインする",class:"form-control mt-2 btn text-white",style:"background-color:#67a7cc" %>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-4">

    <div class="row align-items-center" style="background-color:#ffffff">
      <div class="col-md-6">
        <%= image_tag"top1.PNG",class:"card-img" %>
        </p>
      </div>

      <div class="col-md-6">
        <h4 class="border-bottom">リストをつくる</h4>
          <p>マイページで「ユメ」を入力する事で、<br>あなたのリストに追加されます。<br>
          この時表示されている数字は、<br>同じ「ユメ」をもつ仲間の数です。</p>
      </div>

    </div>

    <div class="row align-items-center" style="background-color:#f4f4f4">
      <div class="col-md-6">
        <%= image_tag"top2.PNG",class:"card-img" %>
        </p>
      </div>
      <div class="col-md-6">
        <h4 class="border-bottom">コメントをする</h4>
          <p>「ユメ」では、進捗共有をしたり、情報交換をしたり。<br>
          自由にコメントが残せます。<br>おなじ「ユメ」を持つユーザーのリストも<br>
          ここから見る事ができます。</p>
        </div>

    </div>

    <div class="row align-items-center" style="background-color:#ffffff">
      <div class="col-md-6">
        <%= image_tag"top3.PNG",class:"card-img" %>
        </p>
      </div>

      <div class="col-md-6">
        <h4 class="border-bottom">みんなと共有</h4>
          <p>「みんなのユメ」から<br>自分のリストに追加することもできます。<br>
          あなたのいろんな「ユメ」を、<br>どんどんリストにしましょう！
          </p>
      </div>
    </div>
  </div>
</div>
