<!DOCTYPE html>
<html>
  <head>
    <title>YOUMELIST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar" style="background-color:#20b2aa">
      <div class="container">
        <p><i class="fas fa-home" style="color:white"></i>
        <%= link_to "TOP",root_path,class:"text-white" %></p>
        <p><i class="fas fa-star" style="color:white"></i>
        <%= link_to "みんなのユメ",dreams_path,class:"text-white" %></p>
        <% if user_signed_in? %>
        <p><i class="fas fa-list" style="color:white"></i>
        <%= link_to "MYLIST",user_path(current_user.id),class:"text-white" %></p>
        <p><i class="fas fa-sign-out-alt" style="color:white"></i>
        <%= link_to "ログアウト",destroy_user_session_path,method: :delete,class:"text-white" %></p>
        <p style="text-white">hello <%= current_user.name %> !</p>
        <% else %>
        <p><%= link_to "signup",new_user_registration_path,class:"text-white" %></p>
        <% end %>
      </div>
    </nev>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>

  </footer>
  </body>
</html>
