<!DOCTYPE html>
<html>
  <head>
    <title>YOUMELIST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= link_to "top",root_path %>
    <%= link_to "signup",new_user_registration_path %>
    <% if user_signed_in? %>
    <%= link_to "signout",destroy_user_session_path,method: :delete %>
    <%= link_to "mypage",user_path(current_user.id) %>
    <% end %>
    <p>hello <%= current_user.name %> !</p>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
