<!DOCTYPE html>
<html>
  <head>
    <title>YOUMELIST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <p><i class="fas fa-home"></i><%= link_to "TOP",root_path %></p>
        <p><i class="fas fa-star"></i><%= link_to "みんなのユメ",dreams_path %></p>
        <% if user_signed_in? %>
        <p><i class="fas fa-list"></i><%= link_to "MYLIST",user_path(current_user.id) %></p>
        <p><i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></p>
        hello <%= current_user.name %> !
        <% else %>
        <%= link_to "signup",new_user_registration_path %>
        <% end %>
      </div>
    </nev>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>

  </footer>
  </body>
</html>
