<!DOCTYPE html>
<html>
  <head>
    <title>YOUMELIST</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-dark" style="background-color:#f5f9f9">

    <header>
      <nav class="navbar border-bottom" style="background-color:#67a7cc">
        <div class="container justify-content-center">
          <div class="row">
            <div class="col"><%= image_tag"logo-w.PNG",size:"100x25" %>
              <%= link_to root_path do %>
              <i class="fas fa-home mr-1" style="color:#ffffff"></i>
              <% end %>
              <%= link_to dreams_path do %>
              <i class="fas fa-star mr-1" style="color:#ffffff"></i>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to user_path(current_user.id) do %>
                <i class="fas fa-list-alt mr-1" style="color:#ffffff"></i>
                <% end %>
                <%= link_to destroy_user_session_path,method: :delete do %>
                <i class="fas fa-sign-out-alt mr-1" style="color:#ffffff"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

  <main>
    <%= yield %>
  </main>

  <footer class="text-white p-5" style="background-color:#67a7cc">
    <div class="row justify-content-center">
      <h4>YOUMELIST</h4>
    </div>
    <div class="row justify-content-center mt-2">
      <p>イラスト：Loose Drawing</p>
    </div>
  </footer>
  </body>
</html>
